@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


body{
     background:
    radial-gradient(circle at 85% 10%, rgba(59,130,246,0.5), transparent 40%),
    radial-gradient(circle at 30% 40%, rgba(99,102,241,0.3), transparent 50%),
    linear-gradient(to bottom, #0f172a, #0b1120);

}